@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; 
}

body {
  overflow-x: hidden;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.animate-zoom {
  animation: zoom 20s linear infinite alternate;
}




